@tailwind base;

* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	display: none;
}
h1{
	@apply font-bold text-3xl text-green-800 my-2;
}
h2 {
	@apply font-bold text-2xl text-green-800;
}
@tailwind components;
@tailwind utilities;
