name: 2-minute-cron
on:
  schedule:
    - cron: "*/2 * * * *"
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request GET \
          --url 'https://dev.app.watermelon.tools/api/admin/ping.js'
